<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mt-5">
      <h3>Filters</h3>
      <%= form_with url: admin_category_path(@category), method: :get, data: { turbo_frame: 'category_products' }, turbo: true do |form| %>
        <div class="form-group">
          <label for="min_price">Min Price</label>
          <%= form.number_field :min_price, value: params[:min_price], class: "form-control", placeholder: "Min Price" %>
        </div>
        <div class="form-group">
          <label for="max_price">Max Price</label>
          <%= form.number_field :max_price, value: params[:max_price], class: "form-control", placeholder: "Max Price" %>
        </div>
        <div class="form-group">
          <label for="colors">Colors</label>
          <%= form.text_field :colors, value: params[:colors], class: "form-control", placeholder: "e.g., red, blue, green" %>
        </div>
        <div class="form-group">
          <label for="sizes">Sizes</label>
          <%= form.text_field :sizes, value: params[:sizes], class: "form-control", placeholder: "e.g., S, M, L" %>
        </div>
        <%= link_to 'Clear', admin_category_path(@category), class: "btn btn-warning" %>
        <%= form.submit "Apply Filters", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div id="category_products" class="col-md-9">
      <%= render partial: "admin/categories/products", locals: { products: @products } %>
    </div>
  </div>
</div>
